.navLink::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: white;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.navLink:hover::before {
    left: 0;
}